<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">About/Docs</a></li>
                <li><a href="/feed/rss.xml" class="nav-link px-2 text-white">Feed</a></li>
                <li><a href="https://github.com/andysylvester/myStatusDemo" class="nav-link px-2 text-white">Github Repo</a></li>
             </ul>


        </div>
    </div>
</header>