<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1>About My Status Tool</h1>
    <p>
        My Status Tool is an application that provides the basic posting and reading functionality within Twitter, but using <a href="http://cyber.law.harvard.edu/rss/rss.html">RSS</a> and <a href="http://home.rsscloud.co/">rssCloud</a> as the enabling technologies.
    </p>
    <p>
		The basic functions are:
		<ul>
		<li>Ability to make a short post</li>
		<li>When a post is made, a RSS feed is updated, a separate page for the post is created, and the post appears on the home page via Websockets</li>
		<li>The tool provides hosting for the RSS feed and posts created</li>
		<li>The tool can display updates to any RSS feeds that support the rssCloud protocol via Websockets</li>
		</ul>
    </p>
    <p>
		The tool is set up for a single user and requires some configuration. Please consult the README on the <a href="https://github.com/andysylvester/myStatusToolDemo">Github repo</a> for more information.
    </p>
    <p>
		This is a proof of concept, but will be further developed. If you find problems in the tool, or want to suggest features, feel free to create an issue in the <a href="https://github.com/andysylvester/myStatusToolDemo">Github repo</a>.
    </p>
		
</div>


<%- include('../partials/footer') %>